/* If the screen size is wide or more, set the font-size of <div> to */
@media screen and (min-width: 751px) {
    .calenderLayout{
        /* background-color:rgb(0, 0, 0); */
        background-image: url('../img/purGradient.jpg');
        background-repeat: round;
        font-size: 14px;
        color: goldenrod;
        display: grid;
        grid-column: inherit;
        grid-row: 400px;
        width: 75vw;
        height: 70vh;
        margin: 15px;
        border-radius: 1%;
        padding: 30px;
        border: 10px outset goldenrod ;
    }
    
  }
  
  /* If the screen size is wide or less, set the font-size of <div> to */
  @media screen and (max-width: 750px) {
    .calenderLayout{
        /* background-color:rgb(0, 0, 0); */
        background-image: url('../img/purGradient.jpg');
        background-repeat: round;
        font-size: 10px;
        color: goldenrod;
        display: grid;
        grid-column: inherit;
        grid-row: 400px;
        width: 55vw;
        height: 55vh;
        margin: 5px;
        border-radius: 1%;
        padding: 30px;
        border: 10px outset goldenrod ;
    }
  }